
#sokweButtonRow{padding-top:10px;}
#niruze_inputRow{padding-top:10px;}
#niruzeButtons{padding-top:10px;}
#ibisokozo_textareaRow{padding-top:10px;}
#ibisokozo_textarea{background-color: DarkGray;border-radius:9px;}
#sokwe_textarea{background-color: DarkGray;border-radius:9px;}
#igisokozo{background-color: DarkGray;border-radius:9px;}
#inyishu{background-color: DarkGray;border-radius:9px;}
#yaga_textarea{background-color: DarkGray;border-radius:9px;}
#yaga_input{background-color: DarkGray;border-radius:9px;}

